* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.625rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #03071E;
  margin-top: 30px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.video-wrapper{
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
}

.mejs__controls {
  background: orange !important;
}

@media (min-width: 769px ) {
  .video-wrapper {
    margin-top: 30px;
  }
}
